body {
  background-image: url('back.svg');
  background-size: contain;
}
h1 {
  color: blue;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.central {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;  
  }
  button {
    position: absolute;
    height: 10vh;
    width: 15vh;
    max-width: 300px;
    max-height: 150px;
    min-width: 53px;
    min-height: 27px;
    border: 0;
  }
  .finalArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    height: 30vh;
  }
  .result {
    height: 150vh;
  }